.main{

}

.change{
    height: 2em;
    border-radius: 1em;
    background-color: #3D5A80;
    color: #dddddd;
    text-align: center;
    font-size: 1em;
    margin-right: 3vw;
    display: inline-block;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
}