.main{
    height: 2em;
    border-radius: 1em;
    background-color: #43638d;
    color: #dddddd;;
    text-align: center;
    font-size: 1em;
    display: inline-block;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;

    cursor: pointer;
}

.change{
    height: 2em;
    border-radius: 1em;
    background-color: #43638d;
    color: #dddddd;
    text-align: center;
    font-size: 1em;
    display: inline-block;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;

    cursor: pointer;
}