/*FOOTER*/
.nav_footer {
    width: 100%;
    background-color: #43638d;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}

.footer-col {
    text-align: center;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.social-links a {
    margin-top: 20px;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

@media (max-width: 860px) {
    .nav_footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 250px;
    }

    .footer-col:nth-child(-n+2) {
        margin-bottom: 20px;
    }
}