.cards {
    overflow: hidden;
    width: 100%;
    min-height: 500px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
    margin-bottom: 1em;
}


/*ПОИСК*/
.search_div {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #43638d;
    height: 6em;
    width: 100%;
    text-align: center;
}

.search_div h3 {
    color: #dddddd;
    padding-bottom: 0.3em;
}

.sub {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sub input {
    height: 3em;
    width: 15em;
    color: #293241;
    text-align: center;
    border: none;
}

@media (max-width: 900px) {
    .search_div {
        flex-direction: column;
    }
}
