.cards {
    overflow: hidden;
    width: 100%;
    min-height: 555px;

    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 1em;
}


/*ПОИСК*/
.search_div {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #43638d;
    height: 6em;
    width: 100%;
    text-align: center;
}

.search_div h3 {
    color: #dddddd;
    padding-bottom: 0.3em;
}

.sub {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sub input {
    height: 3em;
    width: 15em;
    color: #293241;
    text-align: center;
    border: none;
}

@media (max-width: 900px) {
    .search_div {
        flex-direction: column;
    }
}


/*ФИЛЬТРЫ*/
.optionalSelects {
    display: flex;
    flex-direction: row;
    gap: 20px;

    width: 100%;
    justify-content: center;
    margin: 25px;
}

.select {
    height: 30px;
    width: 180px;

    line-height: 30px;

    padding: 0 10px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    cursor: pointer;

    border-radius: 1em;

    text-align: center;
    font-size: 16px;

    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

    color: white;
    background: #5b80b2;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}