.cards {
    overflow: hidden;
    width: 100%;
    min-height: 500px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
    margin-bottom: 1em;
}
