{% extends 'trainers/base.html' %}

{% block head %}
<link rel="stylesheet" href="../../../static/css/student.css">
<link rel="stylesheet" href="../../../static/css/rectangles.css">
<link rel="stylesheet" href="../../../static/css/edit_modal.css">
<link rel="stylesheet" href="../../../static/css/form.css">
<link rel="stylesheet" href="../../../static/css/btns.css">

{% endblock %}
{% block content %}

<div id="student_page">
    <div class="side">
        <div class="photo"></div>
        <div id="student_data">
            <h3>{{client.first_name}} {{client.last_name}}</h3>
            <h2>Баланс: {{client.balance}}</h2>

            <h4>Студент.Группа</h4>


            {% for adres in adr %}
            <p> {{adres.city}}, {{adres.street}}, {{adres.house}}, {{adres.building}}, {{adres.flat}} </p>
            {% endfor %}
            <button class="change_btn" style="margin-top: 30px" onclick="edit_data_modal()">Редактировать</button>
            <button class="change_btn" style="margin-top: 30px" onclick="top_up_balance_btn()">Пополнить</button>
        </div>
    </div>

    <div class="modal" id="modal_edit_data">
        <div class="modal-content">
            <div class="close" id="close_edit_data">&times;</div>
            <div class="form">
                <form class="decor" action="#" method="post">
                    {% csrf_token %}
                    <div class="form-left-decoration"></div>
                    <div class="form-right-decoration"></div>
                    <div class="circle"></div>
                    <div class="form-inner">
                        <h3>Редактирование ученика</h3>
                        <input type="text" id="name" value="{{client.first_name}}" placeholder="Имя">
                        <input type="text" id="last_name" value="{{client.last_name}}" placeholder="Фамилия">
                        <input type="text" id="balance" value="{{client.balance}}" placeholder="Баланс">
                        <input type="text" id="email" value="{{userinfo.email}}" placeholder="Почта">
                        <input type="submit" value="Добавить">
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal" id="top_up_balance_modal">
        <div class="modal-content">
            <div class="close" id="close_top_up_balance_modal">&times;</div>
            <div class="form">
                <form class="decor" action="{% url 'add_balance' client.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-left-decoration"></div>
                    <div class="form-right-decoration"></div>
                    <div class="circle"></div>
                    <div class="form-inner">
                        <h3>Добавить денег!</h3>
                        <input type="text" id="money" name="added_money" placeholder="Сумма">
                        <input type="submit" value="Добавить">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="main">

        <div class="" style="text-align: center">
            <div class="container-text">
                <h3 style="margin-top: 30px;">Активные абонементы</h3>
                <button class="btn" style="padding: 10px; border-radius:30px; margin-bottom: 50px; font-size: medium" onclick="add_abonement_modal()">Добавить</button>
            </div>
            <div class="list" style="display: flex; flex-direction: column">
                <div style="height: 400px; width: 300px; background-color: #43638d; border-radius: 10px;" >
                    <button class="btn" style="float: right; padding: 10px; border-radius:0 30px 0 30px;">Удалить</button>
                    <h3 style="color: white; margin-top: 50px";>Название</h3>
                    <h3 style="color: white; margin-top: 50px";>Количество занятий?</h3>
                    <h5 style="color: white; margin-top: 50px";>Время действия абонемента?</h5>
                    <h3 style="color: white; margin-top: 50px";>Спорт</h3>
                </div>
            </div>
        </div>

        <div class="modal" id="add_abonement_modal">
            <div class="modal-content">
                <div class="close" id="close_add_abonement_modal">&times;</div>
                <div class="form">
                    <form class="decor" action="#" method="post">
                        {% csrf_token %}
                        <div class="form-left-decoration"></div>
                        <div class="form-right-decoration"></div>
                        <div class="circle"></div>
                        <div class="form-inner">
                            <h3>Добавление абонемента</h3>
                            <input type="text" id="name" placeholder="Название">
                            <select>
                                <option value="value1">Значение 1</option>
                            </select>
                            <input type="submit" value="Добавить">
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="container-text">
                <h3>Другие абонементы</h3>
                <h4>Нажми на интересующий тип абонементов и узнай больше!</h4>
            </div>
            <div>
                <div class="rectangle rectangle-right rectangle-back" style="width: 12em; margin-left: 10em;">
                    <h2 style="font-size: 1.2em; padding-top: 3em;" onclick="completed_abonements()">Завершенные</h2>
                        <h1>39</h1>
                </div>
                <div class="rectangle rectangle-left rectangle-front" style="width: 12em">
                    <h2 style="font-size: 1.2em; padding-top: 3em;" onclick="stopped_abonements()">Остановленные</h2>
                    <h1>9</h1>
                </div>
            </div>
        </div>

        <div class="container">
            <div>
                <div class="rectangle rectangle-left rectangle-back">
                    <a href="#"><h2 style="font-size: 1.2em; padding-top: 1em">Пропущено занятий:</h2>
                        <h1>14</h1></a>
                </div>
                <div class="rectangle rectangle-right rectangle-front">
                    <a href="#"><h2 style="font-size: 1.2em; padding-top: 2em">Посещено занятий:</h2>
                        <h1>15</h1></a>
                </div>
            </div>
            <div class="container-text">
                <h3>Занятия</h3>
            </div>
        </div>


        <div class="container">
            <div class="container-text">
                <h3>Достижения</h3>
                <h4>Тут очень увлекательный текст про достижения</h4>
            </div>
            <div>
                <div class="rectangle rectangle-right rectangle-back">
                    <a href="#"><h2 style="font-size: 1.2em; padding-top: 2em">Награды</h2>
                        <h1>28</h1></a>
                </div>
                <div class="rectangle rectangle-left rectangle-front">
                    <a href="#"><h2 style="font-size: 1.2em; padding-top: 3em">Участие</h2>
                        <h1>39</h1></a>
                </div>
            </div>
        </div>

        <div id="skills">
            <h3>Навыки</h3>
            <p>Выносливость</p>
            <div class="container_skills">
                <div class="skills html">90%</div>
            </div>

            <p>Координация</p>
            <div class="container_skills">
                <div class="skills css">80%</div>
            </div>

            <p>Гибкость</p>
            <div class="container_skills">
                <div class="skills js">65%</div>
            </div>

            <p>Реакция</p>
            <div class="container_skills">
                <div class="skills php">60%</div>
            </div>
        </div>


        <div class="ecip">
            <h3>Экипировка</h3>
            <h4>Нажмите на интересующую вас статистику, чтобы узнать больше</h4>
        </div>
    </div>
</div>
{% endblock %}



{% block js%}
<script>
 let modal = document.querySelector('#modal_edit_data');
 function edit_data_modal() {
        modal.style.display = 'block';
    }

 let btn1 = document.querySelector('#close_edit_data');
 btn1.onclick = function () {
        modal.style.display = 'none';
    }


 let top_up_balance = document.querySelector('#top_up_balance_modal')
 function  top_up_balance_btn() {
     top_up_balance.style.display = 'block';
 }

 let btn2 = document.querySelector('#close_top_up_balance_modal');
 btn2.onclick = function () {
     top_up_balance.style.display = 'none';
 }


 let add_abonement = document.querySelector('#add_abonement_modal')
 function add_abonement_modal(){
     add_abonement.style.display = 'block';
 }

 let btn3 = document.querySelector('#close_add_abonement_modal')
 btn3.onclick = function () {
     add_abonement.style.display = 'none';
 }


</script>
{% endblock %}
