/* Общий контейнер для календаря */
/*.calendar {*/
/*}*/

/* Выбор месяца и года */
/*.calendar select {*/
/*    margin-right: 10px;*/
/*}*/

/*.calendarGrid {*/
/*    max-width: 1800px;*/
/*    margin-top: 20px;*/
/*    text-align: center;*/
/*}*/

/*!* Стили для дней месяца *!*/
/*.calendarDay {*/
/*    width: 150px;*/
/*    height: 150px;*/
/*    display: inline-block;*/
/*    vertical-align: top;*/
/*    line-height: 50px;*/
/*    border: 1px solid #ccc;*/
/*    box-sizing: border-box;*/
/*}*/

/*!* Стили для пустых дней *!*/
/*.emptyDay {*/
/*    background-color: #f0f0f0;*/
/*    color: #999;*/
/*}*/

/*!* Стили для недели в календаре *!*/
/*.calendarWeek {*/
/*    clear: both;*/
/*}*/













/*!* вся страница *!*/
/*.calWrap * {*/
/*    text-align: center;*/
/*    margin: auto;*/
/*}*/
/*.calWrap {*/
/*    margin-bottom: 100px;*/
/*}*/
/*.ninja {*/
/*    display: none !important;*/
/*}*/
/*!* CONTAINER *!*/
/*.calContainer {*/
/*    max-width: 1200px;*/
/*    margin-top: 20px;*/
/*}*/
/*!* ВЫБОР ПЕРИОДА *!*/
/*.calDate {*/
/*    display: flex;*/
/*    height: 20px;*/

/*}*/
/*.calMth, .calYr {*/
/*    box-sizing: border-box;*/
/*    padding: 10px 20px;*/
/*    font-size: 1.2em;*/
/*    border: 0;*/
/*    color: #293241;*/
/*}*/
/*!* КАЛЕНДАРЬ *!*/
/*.calendar {*/
/*    table-layout: fixed;*/
/*    word-break: break-all;*/
/*    width: 100%;*/
/*    border-collapse: collapse;*/
/*}*/
/*.calendar tr.head td {*/
/*    font-weight: bold;*/
/*    text-transform: uppercase;*/
/*    color: #fff;*/
/*    background: #3D5A80;*/
/*    padding: 15px;*/
/*    text-align: center;*/
/*}*/
/*.calendar tr.day td {*/
/*    border: 1px solid #ddd;*/
/*    width: 14.28%;*/
/*    padding: 75px 5px;*/
/*    vertical-align: top;*/
/*}*/
/*.calendar tr.day td:hover {*/
/*    background: #fff9e4;*/
/*    cursor: pointer;*/
/*}*/
/*.calendar tr td.blank {*/
/*    background: #f5f5f5;*/
/*}*/
/*.calendar tr td.today {*/
/*    background: #98C1D9;*/
/*}*/
/*.calendar .dd {*/
/*    font-size: 1.2em;*/
/*    color: #999;*/
/*    text-align: right;*/
/*    margin-top: -60px;*/
/*}*/
/*.calendar .evt {*/
/*    margin-top: 5px;*/
/*    font-size: 0.8em;*/
/*    font-weight: bold;*/
/*    overflow: hidden;*/
/*    color: #3D5A80;*/
/*}*/




/*!* ДОБАВИТЬ/РЕДАКТИРОВАТЬ СОБЫТИЕ *!*/
/*.cal-event {*/
/*    max-width: 1000px;*/
/*    table-layout: fixed;*/
/*    padding: 15px;*/
/*    margin-top: 20px;*/
/*    background: #f5f5f5;*/
/*    border: 1px solid #ddd;*/
/*}*/
/*.cal-event h1 {*/
/*    color: #333;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/
/*.evt-date {*/
/*    color: #555;*/
/*    margin: 10px 0;*/
/*}*/
/*.cal-event textarea {*/
/*    display: block;*/
/*    box-sizing: border-box;*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    margin: 10px 0;*/
/*    border: 1px solid #ddd;*/
/*    min-height: 100px;*/
/*}*/
/*.cal-event input[type=button], #cal-event input[type=submit] {*/
/*    padding: 10px;*/
/*    margin: 5px;*/
/*    font-size: 1.2em;*/
/*    border: 0;*/
/*    background: #3D5A80;*/
/*    color: #fff;*/
/*}*/

/*.calendar .dd  .desc {*/
/*    color: #293241;*/
/*    font-size: 0.7em;*/
/*}*/

.page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}

.container {
    width: 200px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 100px;
}

.day {
    height: 200px;
    width: 200px;
    background-color: #8DA6C6;
    color: #1b1b1b;
    margin-bottom: 1px;
    margin-right: 1px;
    text-align: right;
}

.calendar {
     width: 1400px;
}