.page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}

.scheduleType {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;

    margin-top: 2em;
    margin-bottom: 1em;
}

.selects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;

    margin-top: 2em;
    margin-bottom: 2em;
}

.select {
    height: 30px;
    width: 80px;

    cursor: pointer;

    border-radius: 1em;

    text-align-last: center;
    font-size: 16px;

    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

    color: #1b1b1b;
    background: transparent;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select:hover {
    background-color: #eeeaf1;
}

.selectClient {
    height: 30px;
    width: 180px;

    padding: 0 10px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    cursor: pointer;

    border-radius: 1em;

    text-align-last: center;
    font-size: 16px;

    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

    color: #1b1b1b;
    background: transparent;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.selectClient:hover {
    background-color: #eeeaf1;
}

.container {
    width: 200px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 100px;
}


.day {
    height: 200px;
    width: 200px;
    background-color: #8DA6C6;
    color: #1b1b1b;
    margin-bottom: 1px;
    margin-right: 1px;
    text-align: right;
    opacity: 0.8;
    overflow: hidden;
}

.day:hover {
    background-color: #8DA6C6;
    opacity: 1;
    cursor: pointer;
}

.number {
    color: #1b1b1b;
    text-align: right !important;
    padding-top: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.emptyDay {
    height: 200px;
    width: 200px;
    background-color: white;
    margin-bottom: 1px;
    margin-right: 1px;
    text-align: right;
}

.calendar {
     width: 1400px;
}

.weekdays {
    width: 1400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}

.weekday {
    height: 20px;
    width: 200px;
    background-color: white;
    color: #1b1b1b;
    margin-bottom: 10px;
    margin-right: 1px;
    text-align: center;
}

.data {
    width: 150px;
    padding: 4px 15px 4px 25px;
    margin-bottom: 5px;

    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 1em;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
}

.sport {
    width: 100px;
    color: #1b1b1b;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    text-align: left;
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hideData {
    display: none;
}

.openData {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.data:hover .hideData{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
}

.cardMainContainer {
    padding-top: 250px;
    padding-bottom: 50px;

}
.card {
    position: relative;
    max-width: 400px;
    min-height: 100px;
    margin: 0 auto 0;

    z-index: 5;
    max-height: 400px;
    background-color: #3D5A80;

    border-radius: 1em;

    text-align: center;
}
