.cards {
    overflow: hidden;
    width: 100%;
    min-height: 500px;
}

.mainContent{
    padding-top: 5em;
    padding-bottom: 1em;
    min-height: 35em;
    background-color: rgb(152, 193, 217);
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 4em;
}

.select {
    float: right;
    /*display: block;*/
    width: content-box;
    margin-bottom: 10px;
    background: #dddddd;
    outline: none;
    border-width: 0;
    border-radius: 40px;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    color: #3D5A80;
    cursor: pointer;
}

.addPhoto {
    float: left;
    align-items: center;
    border-radius: 40px;
    padding: 3px 6px 3px 6px;
    background: #dddddd;
    cursor: pointer;
}

.date {
    height: 40px;
}
